/* 引入 Inter 字体 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --font-custom-stack: "Inter", "Noto Sans SC", sans-serif;
}

body, h1, h2, h3, p {
  font-family: var(--font-custom-stack) !important;
}
