{{/* layouts/partials/site_footer.html */}}

<style>
  @keyframes spread-flow {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .creeping-colors {
    background: linear-gradient(90deg, 
      #9226AD, /* 深紫 */
      #7e22ce, /* 深粉紫 */
      #c2410c, /* 深焦糖橙 */
      #ca8a04, /* 深金黄 */
      #9226AD  /* 循环回深紫 */
    );
    
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent;
    
    animation: spread-flow 10s linear infinite;
  }
</style>
