{{/* layouts/shortcodes/map.html */}}
{{ $lat := float (.Get "lat") }}
{{ $lon := float (.Get "lon") }}
{{ $delta := 0.005 }}
{{ $min_lon := sub $lon $delta }}
{{ $min_lat := sub $lat $delta }}
{{ $max_lon := add $lon $delta }}
{{ $max_lat := add $lat $delta }}

<div style="width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;" class="h-[60vh] my-12 shadow-2xl">
  <iframe 
    width="90%" 
    height="90%" 
    frameborder="0" 
    scrolling="no" 
    marginheight="0" 
    marginwidth="0" 
    src="https://www.openstreetmap.org/export/embed.html?bbox={{ $min_lon }},{{ $min_lat }},{{ $max_lon }},{{ $max_lat }}&amp;layer=mapnik&amp;marker={{ $lat }},{{ $lon }}" 
    style="border: 0; display: block;">
  </iframe>
  
  <div class="absolute bottom-4 right-4 z-10">
    <a href="https://www.openstreetmap.org/?mlat={{ $lat }}&amp;mlon={{ $lon }}#map=15/{{ $lat }}/{{ $lon }}" 
       target="_blank" 
       class="bg-white text-gray-700 px-3 py-2 rounded-lg shadow-lg text-sm font-medium hover:bg-gray-50 transition duration-300 no-underline">
      📍 View Larger Map
    </a>
  </div>
</div>
